<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/holistic-health-diaries/holistic-health-diaries.github.io/main/_includes/icons8-anthropology-flaticons-lineal-color-96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/holistic-health-diaries/holistic-health-diaries.github.io/main/_includes/icons8-anthropology-flaticons-lineal-color-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/holistic-health-diaries/holistic-health-diaries.github.io/main/_includes/icons8-anthropology-flaticons-lineal-color-16.png">    
    
  </head>
  <body>
    <div class="wrapper">

      {{ content }}

       /* I would kind of like to have this footer, but I'm too stupid to make it work */
      <!--
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>. 
            <a target="_blank" href="https://icons8.com/icon/ZFCbYreB0P3I/anthropology">Anthropology</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>.
          </small>
        </p>
      </footer>
      -->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
